*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# dotenv environment variables file
.env

# os / ide / dev files
*~
.DS_Store
Thumbs.db
Desktop.ini
.sync
.sync-bak
.vscode
temp/
*.bak
*.swp